.saleItem{
    display: flex;

}
.customerName{
    flex: 1;
    text-align: right;
    color:grey;

}
.content{
    flex:3
}
.customerName2{
    text-indent: 10px;
    color:grey;

}
.changInfo{
  width:100%;
  height: 30px;
  text-indent: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 200%;
  background-color: rgb(231, 228, 228);
  border-top: 1px solid rgb(214, 213, 213);
  box-shadow: 1px 1px 2px rgb(235, 231, 231);
}